{% extends 'PrunaticWebBundle::layout.html.twig' %}

{% block container %}
    <h1>Search page</h1>
    <div id="search-form">
        {{ form(form) }}
    </div>

    <h2>Results:</h2>
    <div id="search-results">
        {% block results %}{% endblock results %}
    </div>
{% endblock %}
