{% extends
    app.request.xmlHttpRequest
    ? 'PrunaticWebBundle::ajax-layout.html.twig'
    : 'PrunaticWebBundle:Search:form.html.twig' %}

{% block results %}
    {% for product in products %}
        <div>
            <h3>{{ product.name }}</h3>
            <div>{{ product.description | raw }}</div>
        </div>
    {% else %}
            <p>Nothing found</p>
    {% endfor %}
{% endblock results %}
