{% extends "TwitterBootstrapBundle::layout.html.twig" %}

{% block body %}
    <div class="container">
        {% block flash_messages %}
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div>{{ flashMessage }}</div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div>{{ flashMessage }}</div>
            {% endfor %}
        {% endblock %}
        {% block container %}{% endblock %}
        <footer>{% block footer %}<p>&copy; Company 2012</p>{% endblock %}</footer>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@PrunaticWebBundle/Resources/public/js/app.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
