{% extends "PrunaticWebBundle::layout.html.twig" %}
{% block container %}
    <h1>Cinc Forquilles</h1>
    <p>Hello!</p>
    <p>At this moment you can only <a href="{{ path('prunatic_web_register') }}" title="register a new account">register</a> or to perform a <a href="{{ path('prunatic_web_search') }}" title="search products">search</a>.</p>

{% endblock %}
